<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		
		
		<title>RAJEEV MANDLE</title>
		
		
		<!--=====================================================
			CSS Stylesheets
		=====================================================-->
		<link rel='stylesheet' type='text/css' href='bootstrap/css/bootstrap.min.css' >
		<link rel='stylesheet' type='text/css' href='css/linea.css' >
		<link rel='stylesheet' type='text/css' href='css/ionicons.min.css' >
		<link rel='stylesheet' type='text/css' href='css/owl.carousel.css' >
		<link rel='stylesheet' type='text/css' href='css/magnific-popup.css' >
		<link rel='stylesheet' type='text/css' href='css/style.css' >
			
	</head>
	<body>
		
		
		<!--=====================================================
			Preloader
		=====================================================-->
		<div  id='preloader' >
			<div class='loader' ></div>
			<div class='left' ></div>
			<div class='right' ></div>
		</div>
		
		
		<div class='main-content' >
			
			<!--=====================================================
				Page Borders
			=====================================================-->
			<div class='page-border border-left' ></div>
			<div class='page-border border-right' ></div>
			<div class='page-border border-top' ></div>
			<div class='page-border border-bottom' ></div>
			
			
			
			<!--=====================================================
				Menu Button
			=====================================================-->
			<a href='#' class='menu-btn' >
				<span class='lines' >
					<span class='l1' ></span>
					<span class='l2' ></span>
					<span class='l3' ></span>
				</span>
			</a>
			
			
			<!--=====================================================
				Menu
			=====================================================-->
			<div class='menu' >
				<div class='inner' >
					<ul class='menu-items' >
						
						<li>
							<a href='#' class='section-toggle' data-section='intro' >
								Home
							</a>
						</li>
						
						<li>
							<a href='#about' class='section-toggle' data-section='about' >
								About
							</a>
						</li>
						
						<!-- <li>
							<a target="_blank" href='https://rohitgeddam.hashnode.dev/' class='section-toggle' data-section='resume' >Blog</a>
						</li> -->
						<li>
							<a href='#resume' class='section-toggle' data-section='resume' >
								Resume
							</a>
						</li>
						
						<!-- <li>
							<a href='#portfolio' class='section-toggle' data-section='portfolio' >
								Portfolio
							</a>
						</li> -->
						
						
						<li>
							<a href='#contact' class='section-toggle' data-section='contact' >
								Contact
							</a>
						</li>
						
						
					</ul>
				</div>
			</div>
			
			<div class='animation-block'></div>
			
			
			<!--=====================================================
				Sections
			=====================================================-->
			<div class='sections' >
				
				<!--=====================================================
					Main Section
				=====================================================-->
				<section id='intro' class='section section-main active' >
					
					<div class='container-fluid' >
						
						<div class='v-align' >
							<div class='inner' >
								<div class='intro-text' >
									
									<h1>I'M RAJEEV MANDLE </h1>
									
									<p>I Build Stuff With Code;</p>	
									<div class='intro-btns' >
										
										<a href='#about' class='btn-custom section-toggle' data-section='about' >
											Discover More
										</a>
										
										
									</div>
									
								</div>
							</div>
							
						</div>
						
					</div>
				
				</section>
				
				
				<!--=====================================================
					About Section
				=====================================================-->
				<section id='about' class='section about-section border-d' >
					
					<div class='section-block about-block' >
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>
									I'm a <strong class='color' >Programmer</strong>
								</h2>
							</div>
							
							<div class='row' >
								
								<div class='col-md-4' >
									
									<ul class='info-list' >
										
										<li>
											<strong>Name:</strong>
											<span>RAJEEV MANDLE</span>
										</li>
										
										
										<li>
											<strong>Age:</strong>
											<span>22 Years</span>
										</li>
										
										<li>
											<strong>Residence:</strong>
											<span>India</span>
										</li>
										
										<li>
											<strong>Hometown:</strong>
											<span>Bhilai</span>
										</li>
										
										
										
									</ul>
									
								</div>
								
								<div class='col-md-8' >
								
									<div class='about-text' >
										<p>I am rajeev mandle, a student, a developer, a teacher and an opensource contributor;</p>
										
										<p>Currently an undergrad student at Bhilai Institute of Technology, and founding member of Student Developer Community at my college, where i help guide and help student learn to code; Its been my passions lately;</p>
										<p>I am a strong believer in Open source software, It has given so much to us and i try to give back to open source communities.</p>
										<p>I aspire to become a FullStack developer ( still learning something new everyday );</p>
									</div>
								
									
								</div>
								
							</div>
							
						</div>
					</div>
					
					<div class='section-block skills-block' >
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>
									My <strong class='color' >Skills</strong>
								</h2>
								
							</div>
							
							<div class='row' >
								
								<div class='col-md-6' >
									
									<div class='skill' >
										
										<h4>Python</h4>
										
										<div class='bar' >
											<div class='percent' style='width:85%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>Django</h4>
										
										<div class='bar' >
											<div class='percent' style='width:70%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>Node.js</h4>
										
										<div class='bar' >
											<div class='percent' style='width:75%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>PostgreSQL</h4>
										<div class='bar' >
											<div class='percent' style='width:65%;' ></div>
										</div>
										
									</div>
									<div class='skill' >
										
										<h4>Docker</h4>
										<div class='bar' >
											<div class='percent' style='width:50%;' ></div>
										</div>
										
									</div>
								</div>
								
								<div class='col-md-6' >
									
									<div class='skill' >
										
										<h4>JavaScript</h4>
										
										<div class='bar' >
											<div class='percent' style='width:85%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>Express.js</h4>
										
										<div class='bar' >
											<div class='percent' style='width:80%;' ></div>
										</div>
										
									</div>
									
									
									<div class='skill' >
										
										<h4>Vue</h4>
										<div class='bar' >
											<div class='percent' style='width:75%;' ></div>
										</div>
										
									</div>
									<div class='skill' >
										
										<h4>React</h4>
										<div class='bar' >
											<div class='percent' style='width:65%;' ></div>
										</div>
										
									</div>
									
									<div class='skill' >
										
										<h4>React Native</h4>
										<div class='bar' >
											<div class='percent' style='width:55%;' ></div>
										</div>
										
									</div>
								</div>
								
							</div>
							
							
						</div>
					</div>
					
					
				</section>
				
				
				<!--=====================================================
					Resume Section
				=====================================================-->
				<section id='resume' class='section resume-section border-d' >
					
					<div class='section-block timeline-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Education</strong></h2>
								<div class='about-btns' style="margin-top: 20px;" >
										
									<a target="_blank" href='https://drive.google.com/file/d/18nDoQi2e5Zbp67qG0wcxtU9SYaPPjSEU/view?usp=sharing' class='btn-custom btn-color'  download>
										Get My Resume
									</a>
									
									
								</div>	
							</div>
							
							<ul class='timeline' >
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Bhilai Institute Of Technology, Durg</h4>
										
										<em>
											<span>Bachelor of Technology, Information Technology</span>
											<span></span>
										</em>
										<em>
											<span>GPA 9.12</span>
											<span></span>
										</em>
									
										
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Velociity, Hyderabad</h4>
										
										<em>
											<span>Higher Secondary</span>
											<span>2016-2018</span>
										</em>
										<em>
											
											<span>Percentage - 95.6%</span>
										</em>
										
									</div>
									
								</li>
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Delhi Public School, Durg</h4>
										
										<em>
											<span>Secondary</span>
											<span>2014-2016</span>
										</em>
										<em>
											
											<span>CGPA - 9.4</span>
										</em>
										
										
									</div>
									
								</li>
								
								
								
							</ul>
							
						</div>
						
					</div>
					
					<div class='section-block timeline-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								
								<h2>My <strong class='color' >Experience</strong></h2>
								
							</div>
							
							<ul class='timeline' >
								
								<li>
									
									<div class='timeline-content' >
										
										<h4>Free Open Source Software for Education 2020 IIT Bombay, MHRD GOV.OF INDIA</h4>
										
										<em>
											<span>Fellowship</span>
											<span>4/2020 - 7/2020</span>
										</em>
										
										<p>
											<a target="_blank" href="https://fossee.in/">FOSSEE</a> is an opensource program run by GOV. OF INDIA and IIT.BOMBAY
										
										</p>
										<p>
											I Worked on Project <a target="_blank" href="http://simulation.iitbx.in/">eSim on Cloud</a> in a team of four.
											We developed this project from scratch. This project aims to provide a free alternative to online circuit simulation
											apps for students and book authors. This app can simulate analog circuits and display its graphical output.

										</p>
										<p>
											<a target="_blank" href="https://static.fossee.in/fossee/fellowship2020/Fellowship-Reports/eSim-on-Cloud/eSimOnCloud-DarshPatel-GeddamRohit-DarshanSudake-FaizalAhmed-FSF-2020.pdf">
												VIEW REPORT
											</a>
										</p>
									</div>
									
								</li>
							
							</ul>
							
						</div>
						
					</div>
					
			
					
				</section>
				
				
				<!--=====================================================
					Portfolio Section
				=====================================================-->
			
				<section id='portfolio' class='section portfolio-section border-d' >
						
						<div class='section-block portfolio-block' >
							
							<div class='container-fluid' >
								
								
								<div class='section-header' >
									<h2>My <strong class='color' >Projects</strong></h2>
									<h4>View more on my <a target="_blank" href="https://github.com/rohitgeddam">Github</a></h4>
								</div>
		
								<div v-if="!projectsLoaded" class="spinner-border text-primary" role="status">
									<h1>LOADING PROJECTS....</h1>
								 </div>

								  
								<ul v-else class='portfolio-items' >
									
									<div class="row">
										<div class="col-xs-12 col-sm-3 col-md-4"
										v-for="(project,i) in projects"
										:key="i" style="max-height: 100x">

										

										<li>
										<div class='inner' >
											<div style="background-color:rgba(255,255,255,0.5); text-align: center;">
												<img :src="project.image" style="max-height: 200px; min-height: 200px; min-width: 150px; width: auto;" alt>

											</div>
											
											<div class='overlay' >
												
												<!-- <a :href="project.github" class='view-project' >
													View in github
												</a> -->
												
												<!--project popup-->
											<div id='popup-1' class='popup-box zoom-anim-dialog ' style="max-height: 100x">
												
												<div class='content' >
													
													<!--project popup title-->
													<h4>{{project.title}}</h4>
													
													<!--project popup description-->
													<p>
														{{project.description}}
													</p>
													<p>
														<a :href="project.github">Github</a>
														<p v-if="project.isHosted">
															<a :href="project.url">Live</a>
														</p>
													</p>
													
												</div>
												
											</div>
												
											</div>
											
										</div>
									</li>

								</div>
									
									</div>
									
								</ul>
								
							</div>
						
						</div>
						
					</section> 

		
				
				
				<!--=====================================================
					Contact Section
				=====================================================-->
				<section id='contact' class='section contact-section border-d' >
					
					<div class='section-block contact-block' >
						
						<div class='container-fluid' >
							
							<div class='section-header' >
								<h2>Connect With <strong class='color' >Me</strong></h2>
							</div>
							
							
							<div class='row' >
							
								<div class='col-md-12' >
									<div class='contact-info-icons' style="display:flex; justify-content: space-around;" >
										
										<div class='contact-info' >
											
											<a target="_blank" href="https://github.com/RAJEEV10000"><img src='img/portfolio/githubIcon.png' ></img></a>
											
								
											
										</div>
										
										
										<!-- <div class='contact-info' >
											
											<a  target="_blank" href="https://www.linkedin.com/in/g-s-rohit-31936616a/"><img src='img/portfolio/linkedInIcon.png' ></img></a>
										</div> -->

										<!-- <div class='contact-info' >
											
											<a  target="_blank" href="https://twitter.com/geddam_rohit"><img src='img/portfolio/twitterIcon.png' ></img></a>
											
										</div> -->
										
										
										<div class='contact-info' >
											
											<a  target="_blank" href="mailto: rajeevcoolmail@gmail.com"><img src='img/portfolio/emailIcon.png' ></img></a>
											
										</div>
										
				
									</div>	
									
									
									
								</div>
							
								
								
							</div>
							
						
							
							
						</div>
					
					</div>
					
				</section>
				
			</div>
			
		</div>
		
		
		<!--=====================================================
			JavaScript Files
		=====================================================-->
		<script src='js/jquery.min.js' ></script>
		<script src='js/jquery.shuffle.min.js' ></script>
		<script src='js/owl.carousel.min.js' ></script>
		<script src='js/jquery.magnific-popup.min.js' ></script>
		<script src='js/validator.min.js' ></script>
		<script src='js/script.js' ></script>

	</body>
</html>